@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  @layer base {
    :root {
      
      --background: 122 0% 5%;
      --foreground: 210 20% 98%;

      --card: 122 0% 1%;
      --card-foreground: 210 20% 98%;

      --popover: 122 0% 1%;
      --popover-foreground: 210 20% 98%;

      --primary: 220 0% 10%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 0% 10%;
      --secondary-foreground: 210 20% 98%;

      --muted: 122 0% 5%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 122 0% 5%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --activeBlue: 230 80% 60%;
      --activeBlue-foreground: 210 20% 98%;

      --border: 24, 9%, 10%;
      --input: 24, 9%, 10%;
      --ring: 216 0% 83.9%;

      /*--background: 0 0% 100%;
      --foreground: 224 71.4% 4.1%;

      --card: 0 0% 100%;
      --card-foreground: 224 71.4% 4.1%;

      --popover: 0 0% 100%;
      --popover-foreground: 224 71.4% 4.1%;

      --primary: 220.9 39.3% 11%;
      --primary-foreground: 210 20% 98%;

      --secondary: 220 14.3% 95.9%;
      --secondary-foreground: 220.9 39.3% 11%;

      --muted: 220 14.3% 95.9%;
      --muted-foreground: 220 8.9% 46.1%;

      --accent: 220 14.3% 95.9%;
      --accent-foreground: 220.9 39.3% 11%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 20% 98%;

      --border: 220 13% 91%;
      --input: 220 13% 91%;
      --ring: 224 71.4% 4.1%;*/

      --radius: 0.5rem;
    }

    /*.dark {
      --background: 224 71.4% 4.1%;
      --foreground: 210 20% 98%;

      --card: 224 71.4% 4.1%;
      --card-foreground: 210 20% 98%;

      --popover: 224 71.4% 4.1%;
      --popover-foreground: 210 20% 98%;

      --primary: 210 20% 98%;
      --primary-foreground: 220.9 39.3% 11%;

      --secondary: 215 27.9% 16.9%;
      --secondary-foreground: 210 20% 98%;

      --muted: 215 27.9% 16.9%;
      --muted-foreground: 217.9 10.6% 64.9%;

      --accent: 215 27.9% 16.9%;
      --accent-foreground: 210 20% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 20% 98%;

      --border: 215 27.9% 16.9%;
      --input: 215 27.9% 16.9%;
      --ring: 216 12.2% 83.9%;
    }*/
  }
  @layer utilities {
    .progress-barAnimation {
      width: 0%;
      height: 10px;
      background: #ec008c;
      border-radius: 50px;
    }
    .speech-bubble {
      font-size: 18px;
      background: #ffffff;
      margin: 0 auto;
      width: 155px;
      padding: 1px;
      position: relative;
      box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
      border-radius: 50px;
    }
    
    .speech-bubble:after {
      content: "";
      position: absolute;
      box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px ;
      transform: rotate(45deg);
      bottom: -10px;
      left: 70px;
      border-width: 10px;
      border-style: solid;
      border-color: transparent #ffffff #ffffff transparent;
    }
    
    .speech-bubble-text {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .gradient1{
      background: linear-gradient(to right, #2563eb, #7c3aed);
    }
    .gradient2{
      background: linear-gradient(to right, #ec008c, #fc6767);
    }
    .gradient3{
      background: linear-gradient(to right, #ee0979, #ff6a00);
    }
    .gradient4{
      background: linear-gradient(to right, #fc00ff, #00dbde);
    }
    .gradient5{
      background: linear-gradient(to right, #ff00cc, #333399);
    }
    .nsfw{
      background: linear-gradient(to right, #fb7185, #ef4444);
    }
    .post-badge{
      background: linear-gradient(to right, #396afc, #2948ff);
    }
    .admin{
      background: linear-gradient(to right, #005c97, #363795);
    }
    .roboto-regular {
      font-family: "Roboto", sans-serif;
    }
    .scrollbar-style {
      overflow: auto;
      scrollbar-color: rgb(40, 40, 40) #0d0d0d;
    }
    .gradient-animated5 {
      background: linear-gradient(-45deg, #00ff9d, #4e8cd3, #ff00cc, #934ed3);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }
    .gradient-animated1 {
      background: linear-gradient(-45deg, #00bbff, #1034ff, #00bbff, #1034ff);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .drawing-css-bg {
      background: 
      linear-gradient(135deg,#0000 20.5%,#171717 0 29.5%,#0000 0) 0 5px,
      linear-gradient( 45deg,#0000 8%,#171717 0 17%, #0000 0 58%) 10px 0,
      linear-gradient(135deg,#0000 8%,#171717 0 17%, #0000 0 58%,#171717 0 67%,#0000 0),        
      linear-gradient( 45deg,#0000 8%,#171717 0 17%, #0000 0 58%,#171717 0 67%,#0000 0 83%,#171717 0 92%,#0000 0),
      #000000;
background-size: 20px 20px;
    }
    .drawing-css-bg-negatif {
      background-image: repeating-linear-gradient(45deg, #ff0000 0, #ff0000 2px, transparent 0, transparent 50%);
background-size: 25px 25px;
background-color: rgba(255, 0, 0, 0.3);
    }
    .drawing-css-bg-main-tranparent {
      background-color: #c9c9c9;
      background-image:  repeating-linear-gradient(45deg, #9a9a9a 25%, transparent 25%, transparent 75%, #9a9a9a 75%, #9a9a9a), repeating-linear-gradient(45deg, #9a9a9a 25%, #c9c9c9 25%, #c9c9c9 75%, #9a9a9a 75%, #9a9a9a);
      background-position: 0 0, 7px 7px;
      background-size: 14px 14px;
    }
    .hue-background {
      background: conic-gradient(
        from 0deg,
        hsl(0, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%)
      );
    }

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: #e5e7eb; /* Light gray for dark mode text */
}

.checkbox-input {
  display: none;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #2c2c2c; /* Dark background */
  border: 2px solid #5e5e5e; /* Border for the checkbox */
  display: inline-block;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox-input:checked + .checkbox-custom {
  background-color: #2c2c2c; /* Checked state color */
  border-color: #2c2c2c; /* Border color when checked */
}

.checkbox-input:checked + .checkbox-custom::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #fff; /* Checkmark color */
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

.checkbox-container:hover .checkbox-custom {
  border-color: #2c2c2c; /* Change border color on hover */
}

.checkbox-input:focus + .checkbox-custom {
  box-shadow: 0 0 0 2px #2c2c2c; /* Focus ring */
}

.checkbox-label {
  margin-left: 8px;
  font-size: 14px;
  color: #d1d5db; /* Text color */
}

.checkbox-input:disabled + .checkbox-custom {
  background-color: #2c2c2c; /* Disabled background */
  border-color: #5f5f5f; /* Disabled border color */
  cursor: not-allowed;
}

.checkbox-input:disabled + .checkbox-label {
  color: #7a7a7a; /* Disabled label color */
}
.animationFlashing {
  animation: animationFlashing 2s ease 0s infinite normal forwards;
}
@keyframes animationFlashing {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
  }
  @layer profile {
    .CoverImage {
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0 auto;
      width: 100%;
      display: block;
      border-radius: 10px;
    }
    .FlexEmbed {
      display: block;
      overflow: hidden;
      position: relative;
    }
    .FlexEmbed--2by1:before {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
  }
  @layer animation {
    .open-element-page-melted {
      animation: animation-melted 600ms ease-in-out;
      -moz-animation: animation-melted 600ms ease-in-out;
     /* Firefox */
      -webkit-animation: animation-melted 600ms ease-in-out;
     /* Safari et Chrome */
      -o-animation: animation-melted 600ms ease-in-out;
     /* Opera */
   }
    @keyframes animation-melted {
      from {
        opacity: 0;
     }
      to {
        opacity: 1;
     }
   }
   .close-element-page-scale {
    animation: animation-scale 300ms ease-in-out;
    -moz-animation: animation-scale 300ms ease-in-out;
   /* Firefox */
    -webkit-animation: animation-scale 300ms ease-in-out;
   /* Safari et Chrome */
    -o-animation: animation-scale 300ms ease-in-out;
   /* Opera */
 }
  @keyframes animation-scale {
    from {
      transform:scale(1);
      opacity: 1;
   }
    to {
      transform:scale(1.2);
      opacity: 0;
   }
 }

.main-bg-animated {
  animation: main-bg-animated 60s ease infinite;
}

@keyframes main-bg-animated {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.bounce-open {
  animation: animation-bounce-open 400ms ease-in-out;
  -moz-animation: animation-bounce-open 400ms ease-in-out;
 /* Firefox */
  -webkit-animation: animation-bounce-open 400ms ease-in-out;
 /* Safari et Chrome */
  -o-animation: animation-bounce-open 400ms ease-in-out;
 /* Opera */
}
@keyframes animation-bounce-open {
  0% {
    transform:scale(0);
 }
 100% {
  transform:scale(1);
}
}
  }

  @layer drawing {
.resizable-box {
  position: relative;
  border: 1px solid #006aff;
  /*border-radius: 5px;*/
  top: 0;
}
.drag-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #006aff;
  cursor: move;
  z-index: 9999;
}
.drag-handle-side {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid #006aff;
  z-index: 9999;
}
.drag-handle-content {
  cursor: move;
  position: absolute;
}
.drag-handle-top-left {
  top: 0px;
  left: 0px;
  cursor: nw-resize;
}
.drag-handle-top-right {
  top: 0px;
  right: 0px;
  cursor: ne-resize;
}
.drag-handle-bottom-left {
  bottom: 0px;
  left: 0px;
  cursor: sw-resize;
}
.drag-handle-bottom-right {
  bottom: 0px;
  right: 0px;
  cursor: se-resize;
}
.drag-handle-side-rotate {
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: default;
  width: 20px;
  height: 10px;
  border-radius: 0px;

}
.drag-handle-side-top {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  cursor: n-resize;
  width: 10px;
  height: 10px;
  border-radius: 0px;

}
.drag-handle-side-bottom {
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  cursor: n-resize;
  width: 10px;
  height: 10px;
  border-radius: 0px;
}
.drag-handle-side-right {
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: e-resize;
  height: 10px;
  width: 10px;
  border-radius: 0px;
}
.drag-handle-side-left {
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  cursor: e-resize;
  height: 10px;
  width: 10px;
  border-radius: 0px;
}
.input_textareaCreative {
  font-family: Arial, sans-serif;
  color: black;
  outline: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: none;
  resize: none;
  background: none;
}
.input_textareaCreative::selection {
  background: #006aff99;
}
.input_textareaCreative:focus {
  border: none;
}
.input_textareaCreative::placeholder {
  color: #fff;
  font-weight: 900;
}
.input_textareaCreative:hover {
  border: none;
}
  }
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }